.Home {
  height: calc(100vh - var(--header-height));
  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap-reverse;

    .left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;
      gap: 50px;

      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        .head {
          font-size: var(--h0-font-size);
        }
        .position {
          color: var(--allh-col);
          font-size: var(--h4-font-size);
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;

        gap: 15px;

        justify-content: flex-start;
        .social {
          display: flex;

          ul {
            display: flex;
            gap: 20px;
            i{
              color: var(--black-col);

            }
            
            #uil-instagram-alt:hover {
              -webkit-text-fill-color: var(--prim-btn-col);
            }
            .uil2:hover {
              color: var(--prim-btn-col);
            }
          }
        }

        .buttons {
          flex-wrap: wrap;
          display: flex;
          gap: 20px;
        }
      }
    }

    .right {
      flex: 1;

      .profile-img {
        img {
          object-fit: contain;
          height: 400px;
        }
      }
    }
  }
}





@media screen and (max-width: 768px) {
  .Home {
    min-height: calc(fit-content - var(--header-height));
    // height: fit-content;
    width: 100%;
    position: relative;

    .content {
      // flex-direction: column-reverse;
      gap: 5px;
      flex-direction: row;
      // flex-wrap: wrap;
      justify-content: space-around;
      .left {
        flex:.8;
        
        padding: 0px 5px;
        .bottom {
          .social {
            .buttons {
              flex-direction: column;
            }
          }
        }
        .details {
          gap: 8px;

          .head {
            overflow: hidden;
            line-height: 100%;
            font-size: var(--media-h0-font-size);
          }
          .position {
            font-size: var(--media-h4-font-size);
          }

          .desc {
            font-size: var(--media-p-font-size);
          }
        }

        .bottom {
          margin-top: auto;

          .buttons {
            gap: 10px;
          }
        }
      }
      .right {
        flex: none;
        align-items: center;
        justify-content: center;

        .profile-img {
          img {
            width: 200px;
            height: 280px;
          }
        }
      }
    }
  }
}






















@media screen and (max-width: 470px) {
  .Home {
    // min-height: calc(fit-content - var(--header-height));
    height: fit-content;
    width: 100%;
    position: relative;

    .content {
      flex-direction: column-reverse;
      gap: 5px;

      .left {
        padding: 0px 5px;
        .bottom {
          .social {
            .buttons {
              flex-direction: column;
            }
          }
        }
        .details {
          gap: 8px;

          .head {
            overflow: hidden;
            line-height: 100%;
            font-size: var(--media-h0-font-size);
          }
          .position {
            font-size: var(--media-h4-font-size);
          }

          .desc {
            font-size: var(--media-p-font-size);
          }
        }

        .bottom {
          margin-top: auto;

          .buttons {
            gap: 10px;
          }
        }
      }
      .right {
        flex: none;
        align-items: center;
        justify-content: center;

        .profile-img {
          img {
            width: 200px;
            height: 280px;
          }
        }
      }
    }
  }
}
