.About{
    height: 100vh;
    margin-bottom: 30px;

    .content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .header{
            display: flex;
            gap: 10px;
            flex-direction: column;
            text-align: center;
            .head{

            }

            .intro{
               
            }
        }

        .mid{
            
           text-align: center;
        }
        .bottom{
            padding: 0px 10px;
            
            display: flex;
            align-items:center;
            justify-content: space-around;
            
            
            .details{
                
                display: flex;
                flex-direction: column;
                gap: 25px;
                
            
                .desc{
                    
                }

            }
            .count{
              
                
                justify-content: space-around;
                .each-count{
                    .num{
                        text-align: center;

                    }
                    .desc{
                        text-align: center;
                    }
                }


            }

            .buttons{
                
            }

        }


    }
}