.About {
  min-height: calc(100vh - var(--header-height));
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .mid {
      text-align: center;
      .img {
        img {
          width: 250px;
        }
      }
    }
    .bottom {
      padding: 0px 10px;

      display: flex;
      align-items: center;
      justify-content: space-around;

      .details {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
      .count {
        justify-content: space-around;
        .each-count {
          .num {
            text-align: center;
          }
          .desc {
            text-align: center;
          }
        }
      }
    }
  }
}






@media screen and (max-width: 768px) {
  .About {
    height: fit-content;

    .content {
      gap: 10px;
      .header {
        .head {
          font-size: var(--media-h1-font-size);
        }
        .intro {
          font-size: var(--media-p-font-size);
        }
      }
      .mid {
        .img {
          img {
            width: 200px;
          }
        }
      }

      .bottom {
        .count {
          display: flex;
          gap: 10px;

          h1 {
            font-size: var(--media-h0-font-size);
          }
          .desc {
            font-size: var(--media-h6-font-size);
          }
        }
        .details {
          gap: 20px;
          .top {
            p {
              font-size: var(--media-p-font-size);
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 430px) {
  .About {
    height: fit-content;
    

    .content {
      gap: 10px;
      .header {
        .head {
          font-size: var(--media-h1-font-size);
        }
        .intro {
          font-size: var(--media-h6-font-size);
        }
      }
      

      .bottom {
        .count {
          display: flex;
          gap: 10px;

          h1 {
            font-size: var(--media-h1-font-size);
          }
          .desc {
            font-size: var(--media-h6-font-size);
          }
        }
        
      }
    }
  }
}













