.subnav {
  z-index: 98;
  background-color: var(--white-col);
  padding: 10px;

  border-radius: 20px;
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  max-width: 100%;
  margin: 5px;
  box-shadow: 0px 0px 1px 0px white;
  

  border: 1px solid #474747;
  transition: all 0.2s ease-out;

  .content {
    ul {
      font-family: var(--para-font);
      display: grid;

      grid-template-columns: repeat(4, 1fr);


      gap: 20px 10px;
      li {
        height: fit-content;
        a {
          color: var(--black-col);
          .uil {
            font-size: var(--uil-font-size);
          }
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px 5px;

          text-align: center;
          font-size: var(--media-p-font-size);

          transition: all 0.1s ease-out;

          &:hover {
            color: var(--nav-active-col);
          }
        }
        .active{

          color: var(--nav-active-col);
        }

      }
    }
  }
}
