@import url("https://fonts.googleapis.com/css2?family=Acme&family=Carter+One&family=Domine:wght@500&family=Merriweather&family=Playfair+Display:wght@500&family=Poppins:wght@400;500&family=Roboto+Slab:wght@500&display=swap");
html {
  scroll-behavior: smooth;
}
:root {
  --header-height: 4rem;

  --hue-color: 250;

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(250, 92%, 85%);

  --title-color: hsl(250, 8%, 15%);
  --text-color: hsl(250, 8%, 45%);
  --text-color-light: hsl(250, 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  --small-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.33rem;
  --normal-font-size: 1.125rem;

  --prim-col: hsl(250, 69%, 61%);
  --prim-hover-col:  hsl(250, 57%, 53%);
  --prim-active-col: hsl(250, 100%, 72%);
  --prim-lighter-col: hsl(250, 92%, 85%);

  --white-col: #fff;
  --balck-col: #000000;

  --h1-col: #212121;
  --btn-col: #212121;
  --allh-col:hsl(250, 8%, 45%);
  --para-col: hsl(250, 6%, 61%);

  --h1-font: "Roboto Slab", serif;
  --allh-font: "Merriweather", serif;
  --para-font: "Domine", sans-serif;

  --h0-font-size: 3rem;
  --h1-font-size: 2.5rem;
  --h4-font-size: 1.5rem;
  --h6-font-size: 1.2rem;
  --p-font-size: 1.1rem;

  --big-font-size: 2rem;

  --uil-font-size: 1.35rem;
  --uil2-font-size: 2.1rem;
  --uil0-font-size: 2.6rem;
  --btn-font-size: 1.33rem;
}

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--allh-font);
}
h1 {
  font-size: var(--h1-font-size);
  color: var(--h1-col);
  font-family: var(--h1-font);
}
h4 {
  font-size: var(--h4-font-size);
}

h6 {
  color: var(--allh-col);
  font-size: var(--h6-font-size);
}
p {
  color: var(--para-col);
  font-family: var(--para-font);
  font-size: var(--p-font-size);
}

a {
  color: black;
}

li {
  display: inline;
}

.uil {
  font-size: var(--uil-font-size);
  cursor: pointer;

  text-align: center;
}

.uil2 {
  font-size: var(--uil2-font-size);
  cursor: pointer;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hover-link {
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 10px;
  cursor: pointer;

  padding: 4.5px 15px 7px 15px;

  border-radius: 4px;
  font-family: var(--h1-font);
  font-size: var(--btn-font-size);
}
